# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.D3D_P1_FPS.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
